<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=360, user-scalable=no" />
        <title>새 연락처 추가 - SafeWalk</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@700;900&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            as="style"
            crossorigin
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
        />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="app-container">
            <header class="app-header">
                <a th:href="@{'/emergency-contacts'}" class="btn-icon">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <h2 class="header-title">새 연락처 추가</h2>
                <a th:href="@{'/emergency-contacts'}" class="btn-icon text-button">저장</a>
            </header>

            <main class="app-content">
                <form>
                    <label class="input-label" for="contact-name">이름</label>
                    <input type="text" id="contact-name" name="name" placeholder="이름을 입력하세요" />

                    <label class="input-label" for="contact-relationship">관계</label>
                    <input type="text" id="contact-relationship" name="relationship" placeholder="예: 가족, 친구, 학교" />

                    <label class="input-label" for="contact-phone">전화번호</label>
                    <input type="tel" id="contact-phone" name="phone" placeholder="'-' 없이 숫자만 입력" />
                </form>
            </main>
        </div>
    </body>
</html>
